<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
        BURRO RESTAURANTE
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <div>
    <ion-item>
      <ion-label position="floating">Correo</ion-label>
      <ion-input [(ngModel)]="email" type="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input [(ngModel)]="contrasena" type="password"></ion-input>
    </ion-item>

    <ion-button (click)="login()">Ingresar</ion-button>
    <ion-button routerLink="/registro">Registrarse</ion-button>
  </div>

  <br>

  <ion-button>Dueño</ion-button> <ion-button>Supervisor</ion-button>
  <ion-button>Maître</ion-button> <ion-button>Mozo</ion-button>
  <ion-button>Cocinero</ion-button> <ion-button>Bartender</ion-button>
  <ion-button>Cliente Registrado</ion-button>


</ion-content>
