ion-card {
    background: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    margin: 15px;
}

ion-card-title {
    font-weight: bold;
    color: white;
    text-align: center;
}

ion-item {
    --background: transparent;
    --border-color: #ffd60a;
    border-radius: 8px;
    margin-bottom: 12px;
}

ion-input {
    color: #fff;
}

ion-button {
    font-weight: bold;
    margin-top: 10px;
}
