<ion-content class="registro-form">
  <ion-card>
    <ion-card-header>
      <ion-card-title>REGISTRO</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Nombre</ion-label>
        <ion-input [(ngModel)]="nombre" type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Apellido</ion-label>
        <ion-input [(ngModel)]="apellido" type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Número de Documento</ion-label>
        <ion-input [(ngModel)]="numeroDocumento" type="number"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Correo</ion-label>
        <ion-input [(ngModel)]="correo" type="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input [(ngModel)]="contrasena" type="password"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Foto de cliente</ion-label>
        <br>
        <input [(ngModel)]="foto" type="file"/>
      </ion-item>

      <ion-button expand="block" color="warning" class="botones" (click)="registrarse()">
        REGISTRARSE
      </ion-button>

      <ion-button expand="block" color="warning" class="botones">
        ESCANEAR QR
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>