<div class="splash-overlay" 
     [@fadeOut]="animationState"
     [class.state-enter]="state==='enter'" 
     [class.state-steady]="state==='steady'" 
     [class.state-exit]="state==='exit'" 
     role="presentation" 
     aria-hidden="true">
  <div class="splash-center">
    <div class="splash-title">Burro</div>
    <img class="splash-icon"
         src="assets/splash.png"
         alt="App icon"
         draggable="false"
         (load)="onIconLoad()"
         (error)="onLogoError($event)" />
    <div class="splash-names ">
      <div class="name-line container">Francisco Argento</div>
      <div class="name-line container">Lucas Rodriguez</div>
    </div>
  </div>
</div>